.btn {
  border-radius: @border-radius-base @border-radius-base 0 @border-radius-base;
  border: none;
}

.btn-default {
  border: solid 1px @btn-default-border;
  &:hover,
  &:active {
    background-color:  @btn-default-border;
  }
}
.btn-primary {
  &:hover,
  &:active {
    background-color: @pink;
  }
}
