.engagements {
	background-color: @green;
}
.content-info {
	margin-top: @wrap-margin + 20px;
	.col-xs-4 {
		height: 4px;
		margin-bottom: 1px;
		overflow: hidden;
	}
	.col-xs-4 .bg-orange {
		margin-left: 2px;
		margin-right: 2px;
	}
	.container {
		padding: 20px 0;
	}
}