a.engagement {
	position: relative;
	display: block;
	cursor: default;
	.caption-engagement {
		display: none;
	}
	&:hover {
		text-decoration: none;
		.caption-engagement {
			display: block;
		}
	}
}
.post-type-archive-instant-mix a.engagement {
	cursor: pointer;
}
.caption-engagement {
	background-color: rgba(242,146,0,0.8);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	h2 {
		color: #fff;
		opacity: 1;

	}
}

.page-header .img-responsive {
	margin: auto;
}

.post-type-archive-instant-mix .caption-engagement {
	padding: 2em 0;
	color: #fff;
	font-size: 1.2em;
}

.caption-produit {
	padding-top: 20px;
	background-color: rgba(226,1,123,0.8);
}

@media (max-width: @screen-sm-min) {
  // Only float images if not on an extra small device like smartphones
 a.engagement .caption-engagement {
 	position: static;
 	display: block;
 }
}

.acces-engagements {
	display: block;
	min-height: 438px;
	background: url('../img/engagements.jpg') top left no-repeat;
}

.nav-slider, .nav-carousel {
	width: 90%;
	position: absolute;
	top: 45%;
	left: 5%;
	z-index: 50;
	font-size: 2em;
	a {
		display: inline-block;
		cursor: pointer;
		color: @pink;
	}
}

hr.quiz {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: dotted 2px #000;
}

.title-quiz {
	padding-bottom: 20px;
	border-bottom: dashed 1px #000;
}

.quiz-form input[type="button"] {
	.button-variant(#fff;@pink;@pink);
	border-style: solid;
	.button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
}