
h1,h2,h3,h4,h5, .h1, .h2, .h3, .h4, .h5 {
	text-transform: uppercase;
  font-family: 'aracne';
  strong {
    font-family: 'lilitaone';
  }
}

.border-top-left-radius {
	border-top-left-radius: @border-radius-large;
}
.border-top-right-radius {
	border-top-right-radius: @border-radius-large;
}
.border-bottom-left-radius {
	border-bottom-left-radius: @border-radius-large;
}
.border-radius {
	border-radius: @border-radius-large @border-radius-large 0 @border-radius-large;
}

.titre {
	display: inline-block;
	width: auto;
	padding-bottom: 5px;
	border-bottom: solid 2px;
}

.page-header {
  padding-bottom: ((@line-height-computed / 2) - 1);
  margin: (@line-height-computed * 2) 0 @line-height-computed;
  border-bottom: dotted 2px @pink;
  text-align: center;
  color: @pink;
  h1 {
    margin-top: 0;
  }
}

// Contextual backgrounds
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  a {
  	color: #fff;
  }
}
.bg-pink,
.bg-orange,
.bg-green {
  color: #fff;
}
.bg-pink {
  .bg-variant(@pink);
}
.bg-orange {
  .bg-variant(@orange);
}
.bg-green {
  .bg-variant(@green);
}
//Contextual text
.text-pink {
  color: @pink;
}
